<%- include("partials/header") %> 

<h1>Home</h1>
<p><%= homeStart %> </p> <hr>
<a href="/compose" class="btn btn-success">Compose</a>

<% for(let i = 0; i < posts.length; i++){ %>
    <h1><%= posts[i].title %></h1>
        <p><%= posts[i].content.substring(0,100) + "..." %> </p> <a href="/posts/<%= posts[i]._id %>">READ MORE</a><hr>
<%} %> 

<%- include("partials/footer") %> 